sudo: required
language: ruby
rvm:
  - 2.5.1
install:
  - . $HOME/.nvm/nvm.sh
  - nvm install $NODE_VERSION
  - nvm use $NODE_VERSION
  - bundle install
  - yarn install
  - wget https://chromedriver.storage.googleapis.com/2.35/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - sudo cp chromedriver /usr/local/bin/.
  - sudo chmod +x /usr/local/bin/chromedriver
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - cp config/database.yml.travis config/database.yml
script:
  - nvm use $NODE_VERSION
  - bundle exec rspec
services:
  - postgresql
env:
  global:
    - NODE_VERSION=9.3.0
notifications:
  email: false
