---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=5&location=fhqwhgads&open_now=true&term=Mexican
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Proxied:
      - 10-65-132-129-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"error": {"code": "LOCATION_NOT_FOUND", "description": "Could not
        execute search, try specifying a more exact location."}}'
  recorded_at: Sat, 16 Jun 2018 15:49:47 GMT
recorded_with: VCR 4.0.0
