---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=5&location=Ocean%20Beach,%20San%20Diego&open_now=true&term=Mexican
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4994'
      Ratelimit-Resettime:
      - '2018-05-04T00:00:00+00:00'
      X-Proxied:
      - 10-64-81-230-uswest1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "M7s5jUW8Eo7JV3LQQtjpHA", "alias": "hugos-cocina-san-diego",
        "name": "Hugo''s Cocina", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/lwX-U7gEsiMuoknPvPE4tw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/hugos-cocina-san-diego?adjust_creative=oMASjcc-Fq4yCMBVinVqeQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=oMASjcc-Fq4yCMBVinVqeQ",
        "review_count": 169, "categories": [{"alias": "mexican", "title": "Mexican"}],
        "rating": 4.5, "coordinates": {"latitude": 32.74382, "longitude": -117.2488},
        "transactions": ["pickup", "delivery"], "price": "$$", "location": {"address1":
        "1830 Sunset Cliffs Blvd", "address2": "", "address3": null, "city": "San
        Diego", "zip_code": "92107", "country": "US", "state": "CA", "display_address":
        ["1830 Sunset Cliffs Blvd", "San Diego, CA 92107"]}, "phone": "+16198927882",
        "display_phone": "(619) 892-7882", "distance": 745.5116479424057}, {"id":
        "OEuaXlUCRD3c5pOS5knIcg", "alias": "mikes-taco-club-san-diego", "name": "Mike''s
        Taco Club", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/uuNWVzd80vvC91fuPOt6rw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/mikes-taco-club-san-diego?adjust_creative=oMASjcc-Fq4yCMBVinVqeQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=oMASjcc-Fq4yCMBVinVqeQ",
        "review_count": 544, "categories": [{"alias": "me[...]
