---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=5&location=Ocean%20Beach,%20San%20Diego&open_now=true&term=Mexican
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4995'
      Ratelimit-Resettime:
      - '2018-05-05T00:00:00+00:00'
      X-Proxied:
      - 10-65-81-72-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "M7s5jUW8Eo7JV3LQQtjpHA", "alias": "hugos-cocina-san-diego",
        "name": "Hugo''s Cocina", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/lwX-U7gEsiMuoknPvPE4tw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/hugos-cocina-san-diego?adjust_creative=oMASjcc-Fq4yCMBVinVqeQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=oMASjcc-Fq4yCMBVinVqeQ",
        "review_count": 170, "categories": [{"alias": "mexican", "title": "Mexican"}],
        "rating": 4.5, "coordinates": {"latitude": 32.74382, "longitude": -117.2488},
        "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1":
        "1830 Sunset Cliffs Blvd", "address2": "", "address3": null, "city": "San
        Diego", "zip_code": "92107", "country": "US", "state": "CA", "display_address":
        ["1830 Sunset Cliffs Blvd", "San Diego, CA 92107"]}, "phone": "+16198927882",
        "display_phone": "(619) 892-7882", "distance": 745.5116479424057}, {"id":
        "OEuaXlUCRD3c5pOS5knIcg", "alias": "mikes-taco-club-san-diego", "name": "Mike''s
        Taco Club", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/uuNWVzd80vvC91fuPOt6rw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/mikes-taco-club-san-diego?adjust_creative=oMASjcc-Fq4yCMBVinVqeQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=oMASjcc-Fq4yCMBVinVqeQ",
        "review_count": 542, "categories": [{"alias": "me[...]
- request:
    method: post
    uri: https://api-us2.pusher.com/apps/519789/events?auth_key=6c2872beb356b436fd84&auth_signature=3976bdb1996a57cffa93e81bc2ad97db8413c0f4c52c120a0a0c1fbfbfc069e2&auth_timestamp=1525404135&auth_version=1.0&body_md5=4df981aebe35594d9a6ce4f16a57e08d
    body:
      encoding: UTF-8
      string: '{"name":"crawl-updated","channels":["crawl-30"],"data":"{\"message\":\"{\\\"id\\\":30,\\\"term\\\":\\\"Mexican\\\",\\\"location\\\":\\\"Ocean
        Beach, San Diego\\\",\\\"crawl_spots\\\":[{\\\"id\\\":91,\\\"spot\\\":{\\\"id\\\":91,\\\"name\\\":\\\"Hugo''s
        Cocina\\\"}},{\\\"id\\\":92,\\\"spot\\\":{\\\"id\\\":92,\\\"name\\\":\\\"Mike''s
        Taco Club\\\"}},{\\\"id\\\":93,\\\"spot\\\":{\\\"id\\\":93,\\\"name\\\":\\\"South
        Beach Bar \\\\u0026 Grille\\\"}},{\\\"id\\\":94,\\\"spot\\\":{\\\"id\\\":94,\\\"name\\\":\\\"Don
        Tommy''s Mexican Food\\\"}},{\\\"id\\\":95,\\\"spot\\\":{\\\"id\\\":95,\\\"name\\\":\\\"Ortega''s
        Cocina\\\"}}]}\"}"}'
    headers:
      X-Pusher-Library:
      - pusher-http-ruby 1.3.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 04 May 2018 03:22:16 GMT
recorded_with: VCR 4.0.0
