---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=5&location=Ocean%20Beach&open_now=true&term=fhqwhgads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4993'
      Ratelimit-Resettime:
      - '2018-06-17T00:00:00+00:00'
      X-Proxied:
      - 10-65-188-246-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -117.24454879760742,
        "latitude": 32.73804739220617}}}'
  recorded_at: Sat, 16 Jun 2018 15:48:12 GMT
recorded_with: VCR 4.0.0
